.MuiTableRow-root>* {
    padding: 10px;
}

.css-11xur9t-MuiPaper-root-MuiTableContainer-root{
    background: whitesmoke !important;
}

.MuiTableRow-root.MuiTableRow-head>* {
    font-weight: bold !important;
    font-size: 1.3rem;
    font-family: 'Poppins', sans-serif !important;
}

.css-1ex1afd-MuiTableCell-root{
    font-family: 'Poppins', sans-serif !important;
    font-size: 1.3rem !important;
}

.Table-wrapper{
    display: flex;
    gap: 2%;
}

.Table{
    width: 70%;
}

.UserReviews{
    width: 28%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.UserReviews h3,
.Table h3{
    font-size: 1.7rem !important;
    font-family: 'Poppins', sans-serif !important;
    margin-bottom: 1rem;
}

.Table td,
th {
    border: none !important;
}

.Table:first-child {
    border-radius: 0.7rem !important;
}

.status {
    padding: 8px;
    display: flex;
    border-radius: 9px;
    width: 6rem;
    justify-content: center;
}

.Details {
    color: #00b5ff !important;
}

@media screen and (max-width: 1200px) {
    .Table {
        width: 170%;
        margin-top: 2rem;
    }
}


@media screen and (max-width: 768px) {
    .Table {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 23rem;
    }
}