.drawer-wrapper{
    /* height: 100%; */
    width: 30rem;
    margin-right: auto;
    font-size: 2rem;
    /* border: 1px solid red; */
    background-color: #e6e6e6;
    border-radius: 0 15px 15px 0;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.drawer-wrapper nav{
    height: 100%;
    display: flex;
    flex-direction: column;
    
}

.drawer-wrapper nav .link{
    padding: 1rem;
    font-size: 1.7rem;
    text-decoration: none;
    /* display: block; */
    /* border-bottom: 2px solid rgb(57, 0, 97); */
    font-weight: 700;
    color: rgb(96, 96, 96);
    display: flex;
    align-items: center;
    
}

.drawer-wrapper nav .link span{
    font-size: 3rem;
    margin-right: 1rem;
}

.drawer-wrapper nav .link:hover{
    background-color: #faf6f6;
    border: none;
    border-left: 2px solid rgb(96, 96, 96);
    margin-left: 15px;
    border-radius: 0 15px 15px 0;
}

.post-wrapper{
    display: flex;
    flex-direction: column;
    margin-right: auto;
    width: 80rem;
}

.post-wrapper .create-post .link{
    font-size: 1.5rem;
    color: rgb(96, 96, 96);
    text-decoration: none;
    font-weight: 700;
    display: flex;
    align-items: center;

}

.post-wrapper .create-post .link span{
    font-size: 3rem;
    color: rgb(96, 96, 96);
}

.pub .search-bar,
.post-wrapper .create-post{
    background-color: #e6e6e6;
    color: rgb(96, 96, 96);
    top: 0;
    display: flex;
    justify-content: space-between;
    border-radius: 0 0 15px 15px;
    height: 5rem;
    padding: 0 1rem;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.post-item .post-info{
    font-size: 2rem;
    background-color: #e6e6e6;
    color: rgb(96, 96, 96);
    margin-top: 2rem;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.post-item .post-info .header{
    display: flex;
    font-size: 2rem;
    align-items: center;
    margin-block-end: 1rem;
}

.post-item .post-info .header img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 0.2rem solid #f5af00;
}

.post-item .post-info .header .post-text{
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    width: 100%;
    margin-left: 1.5rem;
}

.post-item .post-info .header .post-text .post-text-head{
    display: flex;
    font-size: 2rem;
    justify-content: space-between;
}

.post-info .post-media img{
    width: 100%;
    height: 40rem;
}

.post-info .legend p{
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.post-info .impressions{
    display: flex;
    justify-content: space-between;

}

.post-info .impressions p{
    font-size: 1.5rem;
    display: flex;
    align-items: center;
}

.post-info .impressions .like{
    color: rgb(255, 84, 84);
    font-size: 3.5rem;
}

.post-info .impressions .like:hover{
    color: rgb(236, 39, 39);
}

.post-info .impressions .comment {
    color: rgb(58, 144, 170);
    font-size: 3.5rem;
}

.post-info .impressions .comment:hover{
    color: rgb(27, 113, 139);
}

.post-info .impressions .share {
    color: rgb(90, 197, 57);
    font-size: 3.5rem;
}

.post-info .impressions .share:hover{
    color: rgb(56, 124, 35);
}

.pub{
    width: 40rem;
    margin-left: auto;
    /* height: 100%; */
    /* border: 1px solid blue; */
}

.pub .search-bar{
    display: flex;
    align-items: center;
}

.pub .search-bar input{
    height: 3rem;
    width: 90%;
    margin: 1rem 0;
    outline: none;
    font-size: 1.3rem;
    border-radius: 1rem;
    padding: 0.3rem;
    border: none;
}

.pub .search-bar span{
    color: rgb(96, 96, 96);
    font-size: 3.5rem;
}

.pub .pub-list{
    background-color: #e6e6e6;
    width: 100%;
    height: 100%;
    margin-top: 2rem;
    border-radius: 15px 0 0 15px;
    padding: 2rem;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.pub .pub-list img{
    position: center center;
    height: 20rem;
    width: 100%;
    border-radius: 0.5rem;
}

@media screen and (max-width: 1289px){
    .drawer-wrapper{
        width: 20rem;
    }

    .post-wrapper{
        width: 65rem;
    }

    .pub{
        width: 30rem;
    }
}

@media screen and (max-width: 1024px){
    .post-wrapper {
        width: 60rem;
    }

    .drawer-wrapper,
    .pub{
        width: 16rem;
    }
}

@media screen and (max-width: 830px){
    .pub{
        display: none;
    }

    .drawer-wrapper{
        display: none;
    }

    .post-wrapper{
        width: 100%;
    }

    .post-info .post-media img{
        height: 20rem;
    }

    .post-wrapper .create-post .link{
        font-size: 1rem;
    }
}