.footer{
    height: auto;
    width: 100%;
    background-color: black;
    color: white;
    padding: 0.5rem 10rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.middle,
.top{
    display: grid;
    grid-template-columns: 15rem auto 18rem;
    font-size: 1.5rem;
    gap: 10rem;
    align-items: center;
}

.top h2{
    font-size: 2.5rem;
    letter-spacing: 0.3rem;
    line-height: 1;
    font-weight: 400;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.top h3{
    font-size: 2rem;
    font-weight: 100;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.top>div:nth-of-type(1){
    line-height: 1;
}

.top>div:nth-of-type(2){
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-link{
    text-decoration: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: white;
    transition: all 0.3s linear;
}

.footer-link:hover{
    color: #f5af00;
    transform: scale(1.2);
}

.footer-logo{
    display: flex;
    align-items: center;
    gap: 2rem;
}

.middle .footer-logo svg{
    font-size: 2rem;
    align-self: center;
}

.footer-icon{
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    background: transparent;
    border: 2px solid white;
    display: flex;
    justify-content: center;
}

.footer-icon:hover{
    border: none;
    background-color: white;
}

.footer-icon.facebook:hover {
    color: blue;
}

.footer-icon.instagram:hover {
    color: #e11d74;
}

.footer-icon.twitter:hover {
    color: #00adb5;
}

.middle svg{
    font-size: 2rem;
    align-self: center;
    transition: all 0.3s linear;
}

.middle svg:hover{
    transform: scale(1.2);
}
/* 
.footer-text{
    padding: 0 5rem;
} */

.footer-text h4{
    font-size: 1.9rem;
    font-weight: 100;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.footer-text p{
    font-size: 1.5rem;
    font-weight: 100;
    font-family: system-ui;
}

.right{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.payment{
    display: flex;
    justify-content: space-between;
}

.paymentMethod{
    height: 2rem;
    width: 3rem;
    object-fit: cover;
}

.footer-input{
    display: flex;
}

.footer-input input,
.footer-input button{
    height: 3.5rem;
    border: none;
    outline: none;
}

.footer-input input{
    width: 80%;
    padding: 0.5rem;
    background-color: rgb(146, 145, 145);
    font-size: 1.2rem;
    color: black;
}

.footer-input button{
    background-color: #f5af00;
    color: white;
    width: 20%;
    display: flex;
    padding: 0.5rem;
}

.bottom{
    padding: 5rem 0 ;
}

.bottom p{
    font-size: 1.5rem;
    font-weight: 100;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@media screen and (max-width: 768px) {

    .footer{
        padding: 0.5rem;
    }

    .top,
    .middle{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .top>div:nth-of-type(2){
        justify-content: space-between;
        width: 100%;
    }

    .top>div:nth-of-type(3){
        display: none;
    }

    .footer-text,
    .right{
        display: none;
    }

    
}