.card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 200px;
    margin: 10px;
    grid-auto-rows: minmax(100px, auto);
    gap: 1rem;
}

.layout{
    display: flex;
    flex-direction: row;
    margin: 7px 7px 7px 0;
    flex-wrap: wrap;
}

.actu-head{
    display: flex;
    justify-content: space-between;
    font-size: 2rem;
    padding: 1rem;
    margin-top: 1.5rem;
}

.actu-head .actu-link{
    color: #F5AF00;
    text-decoration: none;
}

.actu-head h3{
    font-weight: 700;
}

.actu-wrap{
    display: flex;
    align-items: center;
    width: 100%;
    padding: 7px;
    padding-left: 1.7rem;
    height: 6rem;
}

.actu-image img{
    height: 4rem;
    border-radius: 3px;
    width: 4rem;
    object-fit: cover;
}

.side{
    width: 25%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
    border-radius: 0.2rem;
    background-color: white;
    margin-top: 3rem;
}

.actu-rest{
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    align-items: flex-start;
    margin-left: 15px;
    flex-wrap: wrap;
    width: 100%;
    line-height: 1;
}

.first-text{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1.5rem;
    width: 100%;
}

.first-text .one{
    font-size: 1.4rem;
    font-weight: 600;
}

.first-text .two{
    font-size: 1.1rem;
}

.first-text .three {
    /* display: block; */
    margin-left: 10px;
}

.three>span{
    font-size: 1.1rem;
}

.content{
    display: flex;
    flex-direction: column;
    width: 72%;
    flex-wrap: wrap;
    margin-left: 1rem;
}

.head{
    display: flex;
    justify-content: space-between;
    margin: 3rem 2rem 2rem 2rem;
}

.head>label{
    display: flex;
    align-items: center;
    width: 17rem;
    gap: 1rem;
    color: black;
}

.head>label>input,
.head>label>select{
    padding: 0.3rem;
    background-color:  #efefef;
    color: rgb(56, 56, 56);
    border: 2px solid #F5AF00;
    border-radius: 0.5rem;
    outline: none;
    height: 3rem;
    width: 70%;
    font-size: 1.1rem;
}

.label-text{
    width: 30%;
    font-size: 1.2rem;
}

.h-button{
    width: 17rem;
    font-size: 1.5rem;
}

@media screen and (max-width: 1280px){
.content{
    width: 73%;
}
}

@media screen and (max-width: 1024px){
    .head{
        display: grid;
        grid-template-columns: 17rem 17rem 17rem;
        gap: 1rem;
    }
}

@media screen and (max-width: 768px) {

    .card{
        grid-template-columns: repeat(2, 1fr);
        margin: 10px;
    }

}

@media screen and (max-width: 500px){
.head>label>input,
.head>label>select{
    width: 55%;
}

.head{
    display: grid;
    grid-template-columns: 17rem 17rem;
    gap: 1rem;
}
}

@media screen and (max-width: 920px){
    .layout {
            display: flex;
            flex-direction: column;
        }
    
        .content {
            width: 100%;
        }
    
        .side {
            width: 100%;
        }
}