.signUp{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    display: flex;
    /* margin: 5rem auto; */
    max-width: 40rem;
    position: fixed;
    z-index: 1000;
}

.signUp form{
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    border: 1px solid rgb(211, 211, 211);
    background: white;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    padding: 2rem;
}

.signUp form .field{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.signUp form .welcome{
    text-align: left;
    color: rgb(96,96,96);
    font-size: 1.9rem;
    margin-bottom: 1.5rem;
}

.signUp form h1{
    /* text-align: center; */
    color: #f5af00;
    font-weight: 700;
}

.signUp .submit {
    border: none;
    height: 4rem;
    color: #f5af00;
    font-size: 1.7rem;
    text-transform: uppercase;
    width: 15rem;
    cursor: pointer;
}

.signUp form .submit:hover {
    background-color: #F5AF00;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.signUp form label {
    font-size: 1.5rem;
    color: black;
    display: flex;
        flex-direction: column;
        align-items: baseline;
        width: 48%;
}

.signUp form label select{
    margin-left: 2rem;
    font-size: 1.5rem;
    padding: 0.3rem;
    background-color:  #F5AF00;
    color: white;
    border: none;
    border-radius: 1rem;
    outline: none;
}

.signUp form label select option{
    background-color: white;
    color: #F5AF00;
    font-size: 1.5rem;
    padding: 0.3rem;
}

.signUp form input {
    border: none;
    border-bottom: 3px solid #efefef;
    font-size: 1.5rem;
    padding: 0.3rem;
    width: 100%;
    /* border-radius: 1rem; */
}

.signUp form input:focus{
    border-bottom: 2px solid #F5AF00;
    outline: none;
}

.signUp form .account{
    display: flex;
}

.signUp form .account .already-account{
    font-size: 2.5rem;
    width: 100%;
}

.signUp form .account .already-account .link{
    text-decoration: none;
    color: #F5AF00;
}


.input-wrap{
    width: 100%;
}
/* @media screen and (max-width: 1280px){
    .signUp {
            background-image: url('../assets/signupMedium.jpg');
            background-size: cover;
    }
} */

/* @media  screen and (max-width: 500px ) {
    .signUp{
        background-image: url('../assets/signupSmall.jpg');
        background-size: cover;
    }
} */