@import url('https://fonts.cdnfonts.com/css/dihjauti-2');
@import url('https://fonts.cdnfonts.com/css/poppins');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 65.2%;
    font-family: 'Poppins', sans-serif;
    
}

.App{
    background-color: #efefef;
}